/*Re-format*/
li{
    list-style: none;
}
ul{
    padding: 0;
}
a{
    text-decoration: none;
}
:root{
    --greyColor:#747171;
    --blueColorDark:#19355F;
    --orageColor:#F1940F;
    --colorBlue:#2B7CA9;
    --colorSkyblue:#00AEEF;
    --paddingBottom: 1.6rem;
}
@font-face {
    font-family: VisbyCF-Bold;
    src: url("../fonts/VisbyCF-Bold.otf") format("opentype");
}
@font-face {
    font-family:VisbyCF-Heavy;
    src: url("../fonts/VisbyCF-Heavy.otf");
}
@font-face {
    font-family: VisbyCF-DemiBold;
    src: url("../fonts/VisbyCF-DemiBold.otf");
}
@font-face {
    font-family: VisbyCF-Medium;
    src: url("../fonts/VisbyCF-Medium.otf");
}
*{

    color: var(--greyColor);
    margin: 0;
}

body{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.title{
    font-size: 3.3146rem;
    margin-bottom: var(--paddingBottom);
}
.subtitles{
    font-family:VisbyCF-Heavy;
    font-size: 3.375rem;
    margin-bottom: var(--paddingBottom);
}
p{
    margin-bottom: var(--paddingBottom);
    font-family:VisbyCF-Medium;
}
.flex{
    display: flex;
    align-items: center ;
}
.flex.space-between{
    justify-content: space-between;
}
.grid{
    display: grid;
    gap: 3.3rem;
}
.grid.Colum3{
    grid-template-columns: repeat(auto-fill, minmax(30%,1fr));
}
.grid.Colum4{
    grid-template-columns: repeat(auto-fill, minmax(20%,1fr));
}
.grid.center{
    place-items: center;
}
.gap-1{
 gap: 1rem;
}
.gap-2{
    gap: 2rem;
}   
.gap-3{
    gap: 3rem;
}  
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 4rem 1rem;
}
.btn{
    padding: 1rem 2.2rem;
    border-radius: 20px;
    color: white!important;
    display: inline-block;
    font-family: VisbyCF-Heavy;

}
.btn.orange{
    background-color: var(--orageColor);
}
.btn.skyblue{
    background-color: var(--colorSkyblue);
}

.btn.gradient{
    padding: 1rem 2rem;
    background: linear-gradient(360deg, #19355F 0%, #2CABE2 100%);
}

.copy-container, .image-container{
    width: 50%;
}

.blue{
    color: var(--colorBlue);
}
.white{
    color: white;
}

.darkBlue{
    color: var(--blueColorDark);
}
.orange{
    color: var(--orageColor);
}


.backgroundBlue{
    background-color: var(--blueColorDark);
}

img{
    width: 100%;
    height: auto;
}

.alignCenter{
    text-align: center;
}
.alignLeft{
    text-align: left;
}
.alignRight{
    text-align: right;
}

.logo{
    width: 5.95rem;
}
.margin-cero{
    margin: 0;
}
.margin-2rem{
    margin-bottom: 2rem;
}