main{
    background-image: url("/images/1\ -\ background\ of\ start.webp");
    height: 100vh;
    min-height: 860px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
main .container{
    height: 100%;
}
h1{
    font-size: 3.3145rem;
    font-family:VisbyCF-Heavy;
    font-weight: 900;
    color: var(--blueColorDark);
}
.copy-container p{
    font-family: VisbyCF-DemiBold;
}