.services-container{
    padding: 2rem;
    border-radius: 50px;
}
.services-container:first-child{
     background-color: #2D99CA;
}
.services-container:nth-child(2){
    background-color: #26628C;
}
.services-container:last-child{
    background-color: #104971;
}
.services-container > *, .services-container > li {
    color: white!important;
}
.services-container h3{
    font-size: 2.5rem;
    font-family: VisbyCF-Bold;
}
.services-container ul > li{
    padding-bottom: 1.3rem;
    margin-bottom: .5rem;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.1);
    color: white;
}

.services-container ul > li:last-child{
    border: none;
}

.circleList{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: linear-gradient(90deg, #2E3192 0%, #00AEEF 100%);
    mix-blend-mode: color-dodge;
    border-radius: 50%;
    margin-right: 1rem;
}